---
layout: default
---

<section>
  <div class="jumbotron">
    <div class="container">
      {{site.description}}

    </div>

</div>
</section>

<section id="page-content">
  <div class="container">
    <div class="post-list">
  {%  for post in site.posts %}
  <div class="post-box">
    <div class="post-title">
    <a class="post-title" href="{{post.url | prepend:site.baseurl }}" > {{ post.title }}</a>
    </div>
    <div class="post-excerpt">
      {{ post.content | strip_html | truncatewords:20}}
    </div>
    <div class="posted">
      posted on
      <span class="posted-on">
	<!-- Whitespace added for readability -->
	{{ page.date | date: "%Y년 %m월 %d일, " }}
	{% assign dayOfWeek = page.date | date: "%A" %}
	  {% when "Monday" %}월요일
	  {% when "Tuesday" %}화요일
	  {% when "Wednesday" %}수요일
	  {% when "Thursday" %}목요일
	  {% when "Friday" %}금요일
	  {% when "Saturday" %}토요일
	  {% when "Sunday" %}일요일
      </span>
      <span class="in">
        in
      </span>
      <span class="categories-on">
        {% for category in post.categories%}
        {{category}} &nbsp;{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
      </span>
    </div>
  </div>
  {% endfor %}
  </div>
</section>
