---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="jumbotron">
    <div class="container">
      <h1 class="post-title-main" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%Y년 %m월 %d일 %H:%M:%S," }}
	{% assign dayOfWeek = page.date | date: "%A" %}
	{% case dayOfWeek %}
	  {% when "Monday" %}월요일
	  {% when "Tuesday" %}화요일
	  {% when "Wednesday" %}수요일
	  {% when "Thursday" %}목요일
	  {% when "Friday" %}금요일
	  {% when "Saturday" %}토요일
	  {% when "Sunday" %}일요일
	{% endcase %}  
        </time><br />
	{% if page.author %} • 작성자 : <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </div>

</div>


<div class="post-content container" itemprop="articleBody">
  {{ content }}
</div>
  

<div class="rect">

  {% assign maxRelated = 4 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}

 
  {% for post in site.posts %}

   
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.categories %}
      {% if post.url != page.url %}
        {% if page.categories contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
    
          <a href="{{ site.baseurl }}{{ post.url }}">
              <div class="rel">
                  <h5>{{ post.title }}</h5>
              </div>
          </a>

      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
  
</article>
